<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Carrito</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/styles-carrito.css">
</head>
<body>
    <!-- header -->
    <%- include('../partials/header') %>

    <main>
        <div class="titulares1">
            <a href="#"><i class="fas fa-calendar-day"></i></a>
            <h5>Adquisición</h5>
            <h5>Adquisiciones de edición abierta</h5>
            <h5>Pujas</h5>
            <a href="#"><i class="fas fa-wallet"></i></a>
        </div>

        <div class="titulares2">
            <p>Creación</p>
            <p>Precio</p>
            <p>Fecha</p>
            <p>Billetera</p>
        </div>
        <% for(let i=0; i<9;i++) { %>
        <div class="tabla">
            <table cellpadding="10px">
                <tr>
                    <td id="nombre"></td>
                    <td id="precio"></td>
                    <td id="fecha"></td>
                    <td></td>
                </tr>
            </table>
            <% } %>
        </div>
        <br>
        <script src='/js/carrito.js'></script>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>

</body>
</html>