<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Carrito</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/styles-carrito.css">
</head>
<body>
    <header>
        <div class="menu">
            <a href="registro"><i class="fas fa-heart"></i></a>
            <a href="producto"><i class="fas fa-fire"></i></a>
            <a href="/"><i class="logo">Logo</i></a>
            <a href="login"><i class="fas fa-user"></i></a>
            <a href="carrito"><i class="fas fa-cart-plus"></i></a>
        </div>
    </header>

    <main>
        <div class="titulares1">
            <a href="#"><i class="fas fa-calendar-day"></i></a>
            <h5>Adquisición</h5>
            <h5>Adquisiciones de edición abierta</h5>
            <h5>Pujas</h5>
            <a href="#"><i class="fas fa-wallet"></i></a>
        </div>

        <div class="titulares2">
            <p>Creación</p>
            <p>Precio</p>
            <p>Fecha</p>
            <p>Billetera</p>
        </div>

        <div class="tabla">
            <table cellpadding="10px">
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>$12.050</td>
                    <td>D/M/A</td>
                    <td>$30.000</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>$1.000</td>
                    <td>D/M/A</td>
                    <td>$20.000</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>$2.000</td>
                    <td>D/M/A</td>
                    <td>$6.000</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>$5.000</td>
                    <td>D/M/A</td>
                    <td>$10.600</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>$3.500</td>
                    <td>D/M/A</td>
                    <td>$8.500</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                    <td>$1.500</td>
                    <td>D/M/A</td>
                    <td>$6.500</td>
                </tr>
            </table>
        </div>
        <br>
    </main>

    <footer>
        <p class="footerizquierda01">
            Twitter
            <br>
            Facebook
            <br>
            Instagram
        </p>
        <p class="footerizquierda02">
            Perfil
            <br>
            Billetera
            <br>
            Colección
        </p>
        <p class="footerizquierda03">
            Coleccionistas
            <br>
            Creadores
        </p>
        <p class="footercentro"><i class="fas fa-certificate"></i>
            <br>
            <br>
            <br>
            All Rigths Reserved
        </p>
        <p class="footerderecha01">
            About
            <br>
            Contacto
        </p>
        <p class="footerderecha02">
            Ingresar
            <br>
            Registrarse
            <br>
            Coleccionistas
        </p>
        <p class="footerderecha03">
            Idioma
            <br>
            
            <br>
           
        </p>
    </footer>
</body>
</html>