<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/pruebas.css">
</head>
<body>
    <header class="header-home">
        <div class="menu">
            <a href="registro"><i class="fas fa-heart"></i></a>
            <a href="producto"><i class="fas fa-fire"></i></a>
            <a href="/"><i class="logo">Logo</i></a>
            <a href="login"><i class="fas fa-user"></i></a>
            <a href="carrito"><i class="fas fa-cart-plus"></i></a>
        </div>
    </header>

    <main class="main-home">
        <img src=images/img-ParisAndChill4-FlorentBoston-SecPopulares.jpg>
    </main>

    <footer>

    </footer>
</body>
</html>