<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-home.css">
</head>

<body>
    <header>
        <div class="menu">
            <a href="registro"><i class="fas fa-heart"></i></a>
            <a href="producto"><i class="fas fa-fire"></i></a>
            <a href="/"><i class="logo">Logo</i></a>
            <a href="login"><i class="fas fa-user"></i></a>
            <a href="carrito"><i class="fas fa-cart-plus"></i></a>
        </div>
        <div class="caratula">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perferendis porro libero dolorum quia possimus! A, illo repellat saepe sequi est iusto laudantium, deleniti dolores dignissimos error nemo sit pariatur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias nobis vero maiores nulla velit enim aut, aliquid asperiores praesentium quidem aspernatur impedit cumque minus tempore id, excepturi eius dolorum mollitia?</p>
    </div>
    <div class="buscadores">
        <div class="buscador1">
        <h4>Buscador</h4>
        <input type="text" placeholder="Busca productos, colecciones, perfiles..."></input>
        </div>
        <div class="buscador2">
        <h4>Categoria</h2>
        <select type="text" placeholder="Categoria">
            <option>Animación</option>
            <option>3d</option>
            <option>Ilustración</option>
            <option>Surreal</option>
            <option>Raro</option>
            <option>Color</option>
            <option>Abstracto</option>
            <select> 
        </div>
    </div>
    </header>

    <main>
        <div class="sec-principal-arriba">
            <div>
                <img src="/img/img-ParisAndChill5-FlorentBoston-SecPrincipal.jpg">
                <h3>Paris and Chill 5/5</h3>
                <h5>Florent Boston</h5>
                <p style="text-align: right">VALOR</p>
            </div>

            <div>
                <img src="/img/img-OrangeHaze-Menossi-SecPrincipal.jpg">
                <h3>Oragne Haze</h3>
                <h5>Menossi</h5>
                <p>VALOR</p>
            </div>
        </div>
        <div class="sec-principal-abajo">
            <div>
                <video controls>
                    <source src="/img/vid-Discoid-JoAnieCharland-PagPrincipal-SecPrincipal.mp4" type="video/mp4">
                </video>
            </div>
            <div>
                <h3>Discoid</h3>
                <h5>Jo-Anie Charland</h5>
            </div>
            <div >
                <p>VALOR</p>
            </div>

            <div>
                <img src="/img/img-AMoment-MattEmmett-SecPrincipal-MasDelVendedor.jpg">
                <h3>A Moment</h3>
                <h5>Matt Emmett</h5>
                <p>VALOR</p>
            </div>
        </div>

        <div class="sec-secundaria">
            <div>
                <img src="/img/img-ParisAndChill3-FlorentBoston-SecSecundaria.jpg">
                <h3>Paris and Chill 3/5</h3>
                <h5>Florent Boston</h5>
                <p>VALOR</p>
            </div>

            <div>
                <video controls>
                    <source src="/img/vid-CattelanHouse-Rek0de-SecSecundaria.mp4" type="video/mp4">
                </video>
                <h3>Cattelan House</h3>
                <h5>Rek0de</h5>
                <p>VALOR</p>
            </div>

            <div>
                <img src="/img/img-DreamSceneNo.3-MrBuckley-SecSecundaria.jpg">
                <h3>Dream scene No.3</h3>
                <h5>Mr. Buckley</h5>
                <p>VALOR</p>
            </div>

            <div>
                <img src="/img/img-FortresHill-DesmondLo-SecSecundaria.jpg">
                <h3>Fortres hill</h3>
                <h5>Desmond Lo</h5>
                <p>VALOR</p>
            </div>

            <div>
                <img src="/img/img-Interior&Reflections-FrancescoFlore-SecSecundaria.jpg">
                <h3>Interior & Reflections</h3>
                <h5>Francesco Flore</h5>
                <p>VALOR</p>
            </div>

            <div>
                <img src="/img/img-TheShadow-KennyFlatten-SecSecundaria.jpg">
                <h3>The shadow</h3>
                <h5>KennyFlatten</h5>
                <p>VALOR</p>
            </div>
        </div>

        <div class="sec-creadores">
            <h2>Creadores</h2>
            <div>
                <img src="/img/img-BauHaus-PeterTarka-SecCreadores.jpg">
                <h5>Peter Tarka</h5>
            </div>

            <div>
                <img src="/img/img-Lévitation-CamilleCésarBoldt-SecCreadores.jpg">
                <h5>CamilleCésarBoldt</h5>
            </div>

            <div>
                <img src="/img/img-DreanSceneNo.2-MrBuckley-SecCreadores.jpg">
                <h5>Mr. Buckley</h5>
            </div>

            <div>
                <img src="/img/img-NovemberLights-FrancescoFlore-SecCreadores.jpg">
                <h5>Francesco Flore</h5>
            </div>

            <div>
                <img src="/img/img-ParisAndChill2-FlorentBoston-SecCreadores.jpg">
                <h5>Florent Boston</h5>
            </div>

            <div>
                <img src="/img/img-Lévitation-CamilleCésarBoldt-SecCreadores.jpg">
                <h5>Camille César Boldt</h5>
            </div>

            <div>
                <img src="/img/img-TheFisherman-RiccardoFornoni-SecCreadores-Producto.jpg">
                <h5>Riccardo Fornoni</h5>
            </div>

            <div>
                <img src="/img/img-Ocean-Wbevaegelse-SecCreadores.jpg">
                <h5>wbevaegelse</h5>
            </div>

            <div>
                <img src="/img/img-SspIcc-DesmondLo-SecCreadores.jpg">
                <h5>Desmond Lo</h5>
            </div>
        </div>

        <div class="sec-populares">
            <h2>Populares</h2>

            <img src="/img/img-Islands-PeterTarka-SecPopulares.png">
            <img src="/img/img-PurpleEvening-FrancescoFlore-SecPopulares-Similares.jpg">
            <img src="/img/img-DreamSceneNo.1-MrBuckley-SecPopulares.jpg">
            <img src="/img/img-LaVillaAuBordDeL'eau-CamilleCésarBoldt-SecPopulares.jpg">
            <img src="/img/img-TheShadow(inColor)-KennyFlatten-SecPopulares.jpg">
            <img src="/img/img-Abbys-DesmondLo-SecPopulares.jpg">
            <img src="/img/img-CryptoPlace-Menossi-SecPopulares.jpg">
            <img src="/img/img-Anxiety-Wbevaegelse-SecPopulares-MasDelVendedor.jpg">
            <img src="/img/img-ParisAndChill4-FlorentBoston-SecPopulares.jpg">
            <img src="/img/img-Transcendence-KennyFlatten-SecPopulares.jpg">
            <img src="/img/img-Stairway-PeterTarka-SecPopulares-Similares.png">
            <img src="/img/img-TheCallToExplore-MattEmmett-SecPopulares.jpg">
            <img src="/img/img-EmpireOfGravity-Menossi-SecPopulares.jpg">
            <img src="/img/img-PeachAndOranges-PeterTarka-SecPopulares.jpg">
            <img src="/img/img-IlVeliero-RiccardoFornoni-SecPopulares-MasDelCreador.jpg">
            <img src="/img/img-Poolside-PeterTarka-SecPopulares.jpg">
            <img src="/img/img-Spiderland-BitErrror-SecPopulares.jpg">
            <img src="/img/img-Andromeda-Menossi-SecPopulares.jpg">
        </div>

    </main>

    <footer>
        <p class="footerizquierda01">
            Twitter
            <br>
            Facebook
            <br>
            Instagram
        </p>
        <p class="footerizquierda02">
            Perfil
            <br>
            Billetera
            <br>
            Colección
        </p>
        <p class="footerizquierda03">
            Coleccionistas
            <br>
            Creadores
        </p>
        <p class="footercentro"><i class="fas fa-certificate"></i>
            <br>
            <br>
            <br>
            All Rigths Reserved
        </p>
        <p class="footerderecha01">
            About
            <br>
            Contacto
        </p>
        <p class="footerderecha02">
            Ingresar
            <br>
            Registrarse
            <br>
            Coleccionistas
        </p>
        <p class="footerderecha03">
            Idioma
            <br>
            <br>
        </p>
    </footer>
</body>
</html>