<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Login</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <p>Iconos y logo</p>
    </header>

    <main>
        <img class="contenidoIzq" src="images/img-AMoment-MattEmmett-SecPrincipal-MasDelVendedor.jpg" alt="login">
    <div class="contenidoDer">
        <h2>¡Empieza a Coleccionar!</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <br>
        <input type="text" placeholder="Nombre (será visto públicamente)" id="subdomain"/></input>
        <br>
        <input type="text" placeholder="Contraseña" id="subdomain"/></input>
        <br>
    <div class="ayudas">
        <p>No tenes cuenta? <i style="text-decoration:underline">Registrate</i></p>
        <em style="text-decoration:underline">Olvidaste tu contraseña?</em>
    </div>
        <br>
        <button class="ingresar">Ingresar</button>
        <br>
        <button class="botonesExtra"></button>
        <button class="botonesExtra"></button>
        <br>
        <p>Lorem ipsum, dolor <i style="color:orangered">sit amet.</i></p>
    </div>
    </main>

    <footer>
        <p>Texto y logo</p>
        <p>ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>