<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Registro</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/header-footer.css">
</head>
<body>
    <header>
        <div class="menu">
            <a href="registro"><i class="fas fa-heart"></i></a>
            <a href="producto"><i class="fas fa-fire"></i></a>
            <a href="/"><i class="logo">Logo</i></a>
            <a href="login"><i class="fas fa-user"></i></a>
            <a href="carrito"><i class="fas fa-cart-plus"></i></a>
        </div>
    </header>

    <main>
        <div class="main">
        <h1>Coleccionista</h1>
        <p>Conviérte en coleccionista y empieza a construir tu galeria de arte digital</p>
        <br>
        <input type="text" placeholder="Nombre (será visto públicamente)" id="subdomain"/></input>
        <br>
        <input type="text" placeholder="Correo electrónico" id="subdomain"/></input>
        <br>
        <input type="text" placeholder="Contraseña" id="subdomain"/></input>
        <br>
        <button class="ingresar">Ingresar</button>
        <br>
        <button class="botonesExtra"></button>
        <button class="botonesExtra"></button>
        <br>
        <p>¿No tenes cuenta? <i style="color:#b8b451">Registrate</i></p>
        </div>
        <div class="main">
        <h1>Creador</h1>
        <p>Conviértete en creador y empieza a vender tus diseños digitales</p>
        <br>
        <input type="text" placeholder="Nombre (será visto públicamente)" id="subdomain"/></input>
        <br>
        <input type="text" placeholder="Correo electrónico" id="subdomain"/></input>
        <br>
        <input type="text" placeholder="Contraseña" id="subdomain"/></input>
        <br>
        <input type="text" placeholder="Codigo de invitación" id="subdomain"/></input>
        <p style="text-align: end;">Solicitá tu código de invitación</p>
        <br>
        <button class="ingresar">Ingresar</button>
        <br>
        <button class="botonesExtra"></button>
        <button class="botonesExtra"></button>
        <br>
        <p>¿No tenes cuenta? <i style="color:#b8b451">Registrate</i></p>
    </div>
    </main>

    <footer>
        <p class="footerizquierda01">
            Twitter
            <br>
            Facebook
            <br>
            Instagram
        </p>
        <p class="footerizquierda02">
            Perfil
            <br>
            Billetera
            <br>
            Colección
        </p>
        <p class="footerizquierda03">
            Coleccionistas
            <br>
            Creadores
        </p>
        <p class="footercentro"><i class="fas fa-certificate"></i>
            <br>
            <br>
            <br>
            All Rigths Reserved
        </p>
        <p class="footerderecha01">
            About
            <br>
            Contacto
        </p>
        <p class="footerderecha02">
            Ingresar
            <br>
            Registrarse
            <br>
            Coleccionistas
        </p>
        <p class="footerderecha03">
            Idioma
            <br>
            
            <br>
           
        </p>
    </footer>
</body>
</html>