header {
    background-color: #052c3c;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-family: 'Playfair Display', serif;
    color: white;
    align-items: center;
    height: 10vh;
    margin: auto;
}
header a{
    color: black;
    text-decoration: solid;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
    max-width: 400px;
    max-height: 400px;
    padding: 10px 0;
    font-size: 24px;
    margin: auto;
}
.menu img{
    display: block;
    justify-content: space-between;
    margin: auto;
    width: 5vw;
}

footer {
    background-color: #052c3c;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
}

.footer-seccion {
    font-size: 10px;
    width: 12.5%;
}

.footerizquierda01{
    text-align: left;
    padding-left: 1%;
}
.footerizquierda02{
    text-align: center;
}
.footerizquierda03{
    text-align: right;
}
.footercentro{
    width: 25%;
    text-align: center;
    font-size: 12px;
}
.footerderecha01 {
    text-align: left;
    
}
.footerderecha02 {
    text-align: center;
    
}
.footerderecha03 {
    text-align: right;
    padding-right: 1%;
}




/* === MEDIA QUERIES === */

/*smartphones chicos*/
@media (max-width: 480px){

}

/*tablets y smartphones grandes*/
@media (min-width: 481px){

}

/*laptops y tablets grandes*/
@media (min-width: 769px){

}

/*monitores grandes*/
@media (min-width: 1280px){
    .footer-seccion{
        font-size: 12px;
    }
    .footercentro{
        font-size: 14px;
    }
}