header {
    background-color: #052c3c;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-family: 'Playfair Display', serif;
    color: white;
    align-items: center;
    height: 10vh;
    margin: auto;
}
header a{
    color: black;
    text-decoration: solid;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
    max-width: 400px;
    max-height: 400px;
    padding: 10px 0;
    font-size: 24px;
    margin: auto;
}
.logo{
    color: white;
    background-color: black;
    font-weight: normal;
    font-style: normal;
}


footer {
    background-color: #052c3c;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

.footerizquierda01{
    width: 12.5%;
    text-align: left;
    font-size: 10px;
    padding-left: 1%;
}
.footerizquierda02{
    width: 12.5%;;
    text-align: center;
    font-size: 10px;
}
.footerizquierda03{
    width: 12.5%;;
    text-align: right;
    font-size: 10px;
}
.footercentro{
    width: 25%;
    text-align: center;
    font-size: 12px;
}
.footerderecha01 {
    width: 12.5%;;
    text-align: left;
    font-size: 10px;
}
.footerderecha02 {
    width: 12.5%;;
    text-align: center;
    font-size: 10px;
}
.footerderecha03 {
    width: 12.5%;;
    text-align: right;
    font-size: 10px;
    padding-right: 1%;
}
