/* body {
    font-family: calibri;
} */

body {
    background-color: #0d435c;
    /* color: #617b81; color texto?*/
}
header{
    background-color: #052c3c;
}

footer {
    background-color: #052c3c;
}