/* body {
    font-family: calibri;
} */

body {
    background-color: #0d435c;
    /* color: #617b81; color texto?*/
}

header {
    background-color: #052c3c;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    font-family: 'Playfair Display', serif;
    color: white;
}


main{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: white;
}
.mainizquierda01{
    width: 50%;
}
.mainderecha01 {
    display: block;
    padding: 10%;
    text-align: center;
}
main h1 {
    font-family: 'Playfair Display', serif;
    color: #b8b451;

}
main p {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 12px;

}
main input{
    width: 100%;
    margin: 5px;
    font-family: 'DM Sans', sans-serif;
}
.ingresar{
    background-color: #b8b451;
    width: 80%;
    color: white;
    margin-bottom: 10px;

}
.botonesExtra{
    background-color: #a6a597;
    width: 40%;  
    height: 20px;
    text-align: justify;
}
.ayudas {
    text-align: right;
}


footer {
    background-color: #052c3c;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    color: white;
    font-family: 'DM Sans', sans-serif;
}

.footerizquierda01{
    width: 12.5%;
    text-align: left;
    font-size: 10px;
    padding-left: 1%;
}
.footerizquierda02{
    width: 12.5%;;
    text-align: center;
    font-size: 10px;
}
.footerizquierda03{
    width: 12.5%;;
    text-align: right;
    font-size: 10px;
}
.footercentro{
    width: 25%;
    text-align: center;
    font-size: 12px;
}
.footerderecha01 {
    width: 12.5%;;
    text-align: left;
    font-size: 10px;
}
.footerderecha02 {
    width: 12.5%;;
    text-align: center;
    font-size: 10px;
}
.footerderecha03 {
    width: 12.5%;;
    text-align: right;
    font-size: 10px;
    padding-right: 1%;
}

