body {
    background-color: #0d435c;
    /* color: #617b81; color texto?*/
}


main{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: white;
}
.mainizquierda01{
    width: 50%;
}
.mainderecha01 {
    display: block;
    padding: 10%;
    text-align: center;
}
main h1 {
    font-family: 'Playfair Display', serif;
    color: #b8b451;

}
main p{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 12px;

}
main input{
    width: 100%;
    margin: 5px;
    font-family: 'DM Sans', sans-serif;
}
.ingresar{
    background-color: #b8b451;
    width: 80%;
    color: white;
    margin-bottom: 10px;

}
.botonesExtra{
    background-color: #a6a597;
    width: 40%;  
    height: 20px;
    text-align: justify;
}
.ayudas {
    text-align: right;
}
