*{
    box-sizing: border-box;
}


body {
    background-color: #0d435c;
}

main{
    width: 100vw;
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: white;

}
.mainizquierda01{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.mainizquierda01 img {
    width: 95%;
}
.mainderecha01 {
    height: 80%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding: 5%;
    text-align: center;
}
main h1 {
    font-family: 'Playfair Display', serif;
    color: #b8b451;
    text-align: center;
}
main h5 {
    font-weight: lighter;
    font-size: 14px;
    margin-top: 0%
}
main p{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 12px;
    text-align: center;

}
main input{
    width: 90%;
    margin: 5px;
    font-family: 'DM Sans', sans-serif;
    margin: 2% 2% 0% 2%;
}

.ingresar{
    background-color: #b8b451;
    font-family: 'Playfair Display', serif;
    width: 80%;
    color: white;
    padding: 5px;
    display: block;
    margin: 5% 10% 0% 10%;
    
}

.botones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.botonesExtra{
    background-color: #a6a597;
    width: 50%;  
    height: 25px;
    display: block;
    margin: 1% 1% 0% 1%;
}
.ayudas {
    width: 100%;
    align-self: left;
}
.ayudas a {
    color: white;
}

.texto-error {
    font-family: 'Playfair Display', serif;
    color: red;
    font-size: 12px;
}

.recordar {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row-reverse;
    width: 60%;
    height: 0%;
    font-size: 12px;
    color: white;
}

/* === MEDIA QUERIES === */

/*smartphones chicos*/
@media (max-width: 480px){

}

/*tablets y smartphones grandes*/
@media (min-width: 481px){

}

/*laptops y tablets grandes*/
@media (min-width: 769px){

}

/*monitores grandes*/
@media (min-width: 1280px){

}