*{
    box-sizing: border-box;
}


body {
    background-color: #0d435c;
}

.titulares1 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #b8b451;
}

.titulares2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #d6a549
}

.tabla {
    width: 100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#052c3c;
    color: white;
    font-size: 14px;
}

td{
    width: 25vw;
    text-align: center;
}

