header{
    background-color: black;
    color: white;
    text-align: center;
    height: 10vh;
}
main{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    height: 80vh;
}

.contenidoIzq{
    width: 50%;
    height: 100%;
}

.contenidoDer{
    display: block;
    padding-left: 10%;
    text-align: center;

}

input{
    width: 100%;
    margin: 5px;
}
.ingresar{
    background-color: orangered;
    width: 80%;
    color: white;
    margin-bottom: 10px;

}
.botonesExtra{
    width: 40%;  
    height: 20px;
    text-align: justify;
}
.ayudas {
    text-align: right;
}
footer{
    background-color: #505050;
    text-align: center;
    height: 10vh;
    color: white;
}