*{
    box-sizing: border-box;
}
body {
    background-color: #0d435c;
    color: #b8b451;
    font-family: 'Playfair Display', serif;
}
header {
    background-image: url("/img/img-ParisAndChill4-FlorentBoston-SecPopulares.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Playfair Display', serif;
    color: white;
    height: 100vh;
    margin: auto;
}
header a{
    color: black;
    text-decoration: solid;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 20%;
    padding: 10px 0;
    font-size: 24px;
    margin: auto;
}
.logo{
    color: white;
    background-color: black;
    font-weight: normal;
    font-style: normal;
}
.caratula {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 20%;
    width: 50%;
    text-align: center;
    margin: auto;
}
.buscadores{
    display: flex;
    width: 50%;
    text-align: center;
    margin: auto;
}
.buscador1 {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 50%;
}
.buscador2{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 50%;
    margin: auto;
}
header h4 {
    color: #b8b451;

}
header input,select {
    width: 90%;
    text-align: top;
    margin: auto;
    height: 20px;
}
.menu img{ 
    width: 100vw;
    height: 500px;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

