
body {
    background-color: #0d435c;
}

main{
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Playfair Display', serif;
    color: white;
    height: 700px;

}
.mainizquierda01{
    width: 50%;
}
.mainderecha01 {
    display: block;
    padding: 10%;
    text-align: center;
}
main h1 {
    font-family: 'Playfair Display', serif;
    color: #b8b451;
    text-align: center;

}
main p{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 12px;
    text-align: center;

}
main input{
    width: 500px;
    margin: 5px;
    font-family: 'DM Sans', sans-serif;
    padding: 5px;
}

.ingresar{
    background-color: #b8b451;
    font-family: 'Playfair Display', serif;
    align-items: center;
    width: 80%;
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 35%;
    display: flex;
    margin: auto;
}
.botonesExtra{
    background-color: #a6a597;
    width: 50%;  
    height: 25px;
    display: flex;
    text-align: center;
    margin: auto;
}
.ayudas {
    align-self: center;
}
.ayudas a {
    color: white;
}
