*{
    box-sizing: border-box;
}
body {
    background-color: #0d435c;
    /* color: #b8b451; */
    font-family: 'Playfair Display', serif;
}
header {
    background-image: url("/img/img-ParisAndChill4-FlorentBoston-SecPopulares.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    font-family: 'Playfair Display', serif;
    color: white;
    height: 100vh;
    margin: auto;
}
header a{
    color: black;
    text-decoration: solid;
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 20%;
    padding: 10px 0;
    font-size: 24px;
    margin: auto;
}
.logo{
    color: white;
    background-color: black;
    font-weight: normal;
    font-style: normal;
}
.caratula {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 20%;
    width: 50%;
    text-align: center;
    margin: auto;
}
.buscadores{
    display: flex;
    width: 50%;
    text-align: center;
    margin: auto;
}
.buscador1 {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 50%;
}
.buscador2{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 50%;
    margin: auto;
}
header h4 {
    color: #b8b451;
}
header input,select {
    width: 90%;
    text-align: top;
    margin: auto;
    height: 20px;
}
main h2 {
    color: #b8b451;
    border: #b8b451 2px solid;
    width: 15%;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
}
main h3 {
    color: #b8b451;
}
main h5 {
    color: white;
}
main p {
    display: block;
    background-color: #b8b451;
    color: #ffffff;
    width: 15%;
    border-radius: 20px;
    text-align: center;
    font-size: 90%;
}
.sec-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px 0 60px 0;
}

.sec-principal img {
    width: 40vw;
    height: 300px;
    object-fit: cover;
    object-position: 0% 75%;
    border-radius: 10px;
}

.sec-principal video {
    width: 40vw;
    height: 300px;
    object-fit: cover;
    object-position: 0% 75%;
    border-radius: 10px;
}

.sec-secundaria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px
}

.sec-secundaria img {
    width: 25vw;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.sec-secundaria video {
    width: 25vw;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.sec-creadores-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px
}

.sec-creadores img {
    width: 20vw;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.fa-user-circle {
    margin-right: 5px;
    font-size: 20px;
}
.sec-populares-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 30px
}

.sec-populares img {
   width: 15vw;
   height: 150px;
   object-fit: cover;
   margin-bottom: 20px;
   border-radius: 10px;
}


footer {
    background-color: #052c3c;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
}

.footerizquierda01{
    width: 12.5%;
    text-align: left;
    font-size: 10px;
    padding-left: 1%;
}
.footerizquierda02{
    width: 12.5%;;
    text-align: center;
    font-size: 10px;
}
.footerizquierda03{
    width: 12.5%;;
    text-align: right;
    font-size: 10px;
}
.footercentro{
    width: 25%;
    text-align: center;
    font-size: 12px;
}
.footerderecha01 {
    width: 12.5%;;
    text-align: left;
    font-size: 10px;
}
.footerderecha02 {
    width: 12.5%;;
    text-align: center;
    font-size: 10px;
}
.footerderecha03 {
    width: 12.5%;;
    text-align: right;
    font-size: 10px;
    padding-right: 1%;
}
.estiloHref{
    text-decoration: none;
}




/* === MEDIA QUERIES === */

/*smartphones chicos*/
@media (max-width: 480px){

}

/*tablets y smartphones grandes*/
@media (min-width: 481px){

}

/*laptops y tablets grandes*/
@media (min-width: 769px){

}

/*monitores grandes*/
@media (min-width: 1280px){

}