<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles-home.css">
</head>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<body>
    <header>
        <div class="menu">
        <% if (!locals.isLogged) { %>
            <a href="/users/registro"><i class="fas fa-heart" id='registro'></i></a>
            <% } %>
            <a href="/products"><i class="fas fa-fire" id='producto'></i></a>
            <a href="/"><img src="/img/logo1.png"></a>
            <a href="/users/login"><i class="fas fa-user" id='usuario'></i></a>
            <a href="/products/carrito"><i class="fas fa-cart-plus" id='carrito'></i></a>
        </div>
        <div class="caratula">
        <p>¿Como definimos el arte? Es una idea ambigua, con parámetros relativos, lo que es arte para uno tal vez no lo es para otro. ¿Hace falta que tenga reconocimiento, que este expuesto en un museo, con un precio alto para que sea considerado como tal? ¿Cuantas formas hay de crearlo?
            Proponemos un espacio abierto que de lugar al intercambio de creaciones entre artistas y/o entusiastas. Estas son de origen digital, lo que nos abre una infinidad de puertas y variaciones dentro del mundo artístico. Se podrán encontrar con situaciones realistas, así como con otras irreales, con modelos en 3D, con vídeos, gifs y mucho más.</p>
    </div>
    <br>
    <script src='/js/header.js'></script>
    <form action="/products/search/input" method="GET">
    <div class="buscadores">
        <div class="buscador1">
        <h4>Buscador</h4>
        <input type="text" name='keyword' placeholder="Busca productos, colecciones, perfiles..." id='input'></input>
        <button type="submit" id='boton'></button>
        </div>
        <div class="buscador2">
        <h4>Categoria</h2>
        <select type="text" placeholder="Categoria">
            <option>Animación</option>
            <option>3d</option>
            <option>Ilustración</option>
            <option>Surreal</option>
            <option>Raro</option>
            <option>Color</option>
            <option>Abstracto</option>
            <select> 
        </div>
    </div>
</form>
    </header>

    <main>
        <a href="/products">
        <div class="sec-principal">
            <div>
                <img src="/img/products/img-ParisAndChill5-FlorentBoston-SecPrincipal.jpg">
                <h3>Paris and Chill 5/5</h3>
                <h5>Florent Boston</h5>
                <p>3200ETH</p>
            </div>

            <div>
                <img src="/img/products/img-OrangeHaze-Menossi-SecPrincipal.jpg">
                <h3>Oragne Haze</h3>
                <h5>Menossi</h5>
                <p>3200ETH</p>
            </div>
        </div>
        <div class="sec-principal">
            <div>
                <video controls>
                    <source src="/img/products/vid-Discoid-JoAnieCharland-PagPrincipal-SecPrincipal.mp4" type="video/mp4">
                </video>
                <div>
                <h3>Discoid</h3>
                <h5>Jo-Anie Charland</h5>
            </div>
            <div >
                <p>3200ETH</p>
            </div>
            </div>
            
            <div>
                <img src="/img/products/img-AMoment-MattEmmett-SecPrincipal-MasDelVendedor.jpg">
                <h3>A Moment</h3>
                <h5>Matt Emmett</h5>
                <p>3000ETH</p>
            </div>
        </div>
        </a>

        <a href="/products">
        <div class="sec-secundaria">
            <div>
                <!-- <img src="/img/products/img-ParisAndChill3-FlorentBoston-SecSecundaria.jpg"> -->
                <model-viewer src="/img/models/alpha-blend-litmus.glb" alt="A 3D model of an astronaut" ar ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate camera-controls></model-viewer>
                <h3>Paris and Chill 3/5</h3>
                <h5>Florent Boston</h5>
                <p>320ETH</p>
            </div>

            <div>
                <!-- <video controls>
                    <source src="/img/products/vid-CattelanHouse-Rek0de-SecSecundaria.mp4" type="video/mp4">
                </video> -->
                <model-viewer src="/img/models/astronaut.glb" alt="A 3D model of an astronaut" ar ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate camera-controls></model-viewer>
                <h3>Cattelan House</h3>
                <h5>Rek0de</h5>
                <p>320ETH</p>
            </div>

            <div>
                <!-- <img src="/img/products/img-DreamSceneNo.3-MrBuckley-SecSecundaria.jpg"> -->
                <model-viewer src="/img/models/radiance.glb" alt="A 3D model of an astronaut" ar ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate camera-controls></model-viewer>
                <h3>Dream scene No.3</h3>
                <h5>Mr. Buckley</h5>
                <p>369ETH</p>
            </div>

            <div>
                <!-- <img src="/img/products/img-FortresHill-DesmondLo-SecSecundaria.jpg"> -->
                <model-viewer src="/img/models/RobotExpressive.glb" alt="A 3D model of an astronaut" ar ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate camera-controls></model-viewer>
                <h3>Fortres hill</h3>
                <h5>Desmond Lo</h5>
                <p>320ETH</p>
            </div>

            <div>
                <!-- <img src="/img/products/img-Interior&Reflections-FrancescoFlore-SecSecundaria.jpg"> -->
                <model-viewer src="/img/models/shishkebab.glb" alt="A 3D model of an astronaut" ar ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate camera-controls></model-viewer>
                <h3>Interior & Reflections</h3>
                <h5>Francesco Flore</h5>
                <p>320ETH</p>
            </div>

            <div>
                <!-- <img src="/img/products/img-TheShadow-KennyFlatten-SecSecundaria.jpg"> -->
                <model-viewer src="/img/models/fish.glb" alt="A 3D model of an astronaut" ar ar-modes="webxr scene-viewer quick-look" environment-image="neutral" auto-rotate camera-controls></model-viewer>
                <h3>The shadow</h3>
                <h5>KennyFlatten</h5>
                <p>320ETH</p>
            </div>
        </div>
        </a>

        <div class="sec-creadores">
            <h2>Creadores</h2>
            <div class="sec-creadores-imagenes">
                <div>
                    <a href="/products">
                    <img src="/img/products/img-BauHaus-PeterTarka-SecCreadores.jpg">
                    </a>
                    <h5><i class="fas fa-user-circle"></i>Peter Tarka</h5>
                </div>

                <div>
                    <a href="/products">
                    <img src="/img/products/img-Lévitation-CamilleCésarBoldt-SecCreadores.jpg">
                    </a>
                    <h5><i class="fas fa-user-circle"></i>Camille César Boldt</h5>
                </div>

                <div>
                    <a href="/products">
                    <img src="/img/products/img-DreanSceneNo.2-MrBuckley-SecCreadores.jpg">
                    </a>
                    <h5><i class="fas fa-user-circle"></i>Mr. Buckley</h5>
                </div>

                <div>
                    <a href="/products">
                    <img src="/img/products/img-NovemberLights-FrancescoFlore-SecCreadores.jpg">
                    </a>
                    <h5><i class="fas fa-user-circle"></i>Francesco Flore</h5>
                </div>

                <div>
                    <a href="/products">
                    <img src="/img/products/img-ParisAndChill2-FlorentBoston-SecCreadores.jpg">
                    </a>
                    <h5><i class="fas fa-user-circle"></i>Florent Boston</h5>
                </div>

                <div>
                    <a href="/products">
                    <img src="/img/products/img-TheFisherman-RiccardoFornoni-SecCreadores-Producto.jpg">
                    </a>
                    <h5><i class="fas fa-user-circle"></i>Riccardo Fornoni</h5>
                </div>

                <div>
                    <a href="/products">
                    <img src="/img/products/img-Ocean-Wbevaegelse-SecCreadores.jpg">
                    </a>
                    <h5><i class="fas fa-user-circle"></i>Wbevaegelse</h5>
                </div>

                <div>
                    <a href="/products">
                    <img src="/img/products/img-SspIcc-DesmondLo-SecCreadores.jpg">
                    </a>
                    <h5><i class="fas fa-user-circle"></i>Desmond Lo</h5>
                </div>
            </div>
        </div>    
        
        

        <div class="sec-populares">
            <h2>Populares</h2>
            <a href="/products">
            <div class="sec-populares-imagenes">
            <img src="/img/products/img-Islands-PeterTarka-SecPopulares.png">
            <img src="/img/products/img-PurpleEvening-FrancescoFlore-SecPopulares-Similares.jpg">
            <img src="/img/products/img-DreamSceneNo.1-MrBuckley-SecPopulares.jpg">
            <img src="/img/products/img-LaVillaAuBordDeL'eau-CamilleCésarBoldt-SecPopulares.jpg">
            <img src="/img/products/img-TheShadow(inColor)-KennyFlatten-SecPopulares.jpg">
            <img src="/img/products/img-Abbys-DesmondLo-SecPopulares.jpg">
            <img src="/img/products/img-CryptoPlace-Menossi-SecPopulares.jpg">
            <img src="/img/products/img-Anxiety-Wbevaegelse-SecPopulares-MasDelVendedor.jpg">
            <img src="/img/products/img-ParisAndChill4-FlorentBoston-SecPopulares.jpg">
            <img src="/img/products/img-Transcendence-KennyFlatten-SecPopulares.jpg">
            <img src="/img/products/img-Stairway-PeterTarka-SecPopulares-Similares.png">
            <img src="/img/products/img-TheCallToExplore-MattEmmett-SecPopulares.jpg">
            <img src="/img/products/img-EmpireOfGravity-Menossi-SecPopulares.jpg">
            <img src="/img/products/img-PeachAndOranges-PeterTarka-SecPopulares.jpg">
            <img src="/img/products/img-IlVeliero-RiccardoFornoni-SecPopulares-MasDelCreador.jpg">
            <img src="/img/products/img-Poolside-PeterTarka-SecPopulares.jpg">
            <img src="/img/products/img-Spiderland-BitErrror-SecPopulares.jpg">
            <img src="/img/products/img-Andromeda-Menossi-SecPopulares.jpg">
       
        </div>
    </a>
    </div>

    </main>
    <script src='/js/navbar.js'></script>
    <!-- footer -->
    <%- include('./partials/footer') %>

</body>
</html>