<footer>
    <p class="footerizquierda01">
        Twitter
        <br>
        Facebook
        <br>
        Instagram
    </p>
    <p class="footerizquierda02">
        Perfil
        <br>
        Billetera
        <br>
        Colección
    </p>
    <p class="footerizquierda03">
        Coleccionistas
        <br>
        Creadores
    </p>
    <p class="footercentro"><i class="fas fa-certificate"></i>
        <br>
        <br>
        <br>
        All Rigths Reserved
    </p>
    <p class="footerderecha01">
        About
        <br>
        Contacto
    </p>
    <p class="footerderecha02">
        Ingresar
        <br>
        Registrarse
        <br>
        Coleccionistas
    </p>
    <p class="footerderecha03">
        Idioma
        <br>
        
        <br>
       
    </p>
</footer>