<header>
    <div class="menu">
        <a href="/users/registro"><i class="fas fa-heart"></i></a>
        <a href="/products"><i class="fas fa-fire"></i></a>
        <a href="/"><i class="logo">Logo</i></a>
        <a href="/users/login"><i class="fas fa-user"></i></a>
        <a href="/products/carrito"><i class="fas fa-cart-plus"></i></a>
    </div>
</header>