<header>
    <div class="menu">
        
        <% if (!locals.isLogged) { %>
        <a href="/users/registro"><i class="fas fa-heart" id='registro'></i></a>
        <% } %>
        <a href="/products"><i class="fas fa-fire" id='producto'></i></a>
        <a href="/"><img class="logo" src="/img/logo1.png"></a>
        <a href="/users/login"><i class="fas fa-user" id='usuario'></i></a>
        <a href="/products/carrito"><i class="fas fa-cart-plus" id='carrito'></i></a>
    </div>
    <script src='/js/header.js'></script>
</header>