<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Login</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>

    <!-- header -->
    <%- include('../partials/header') %>

    <main>
      <div class ='mainizquierda01'>
        <img src="../img/products/img-AMoment-MattEmmett-SecPrincipal-MasDelVendedor.jpg" alt="login">
      </div>
      <div class="mainderecha01">
          <form action="/users/login" method="POST">
         <h1>¡Empieza a Coleccionar!</h1>
         <h5>Ingresá a la comunidad de intercambio digital entre creadores y coleccionistas</h5>
         <br>
         <input type="email" name="email" placeholder="Correo electrónico" id="subdomain"/>
         <% if (locals.errors && errors.email) { %>
          <div class="texto-error">
            <%= errors.email.msg %>
          </div>
          <% } %>
         <br>
         <input type="password" name="contraseña" placeholder="Contraseña" id="subdomain"/></input>
         <br>
         <div class="ayudas">
            <p style="text-align: end;"><a href="#">Olvidaste tu contraseña?</a></p>
         </div>
         <input type="checkbox" name="remember_user">Recordar mi usuario
         <br>
         <button style="text-align: end;" class="ingresar">Ingresar</button>
         <br>
         <!-- <div class= 'botones'>
            <button class="botonesExtra"><a href='/users/editar'> Editar Usuario</a></button>
            <button class="botonesExtra"><a href='/users/editar'> Eliminar Usuario</a></button>
         </div> -->
         <br>
         <p class='ayudas'>¿No tenes cuenta? <a href="registro" style="color:#b8b451">Registrate</a></p>
     </div>
    </form>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>
 
</body>
</html>