<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Registro</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-registro.css">
    <link rel="stylesheet" href="/css/header-footer.css">
</head>
<body>
    <!-- header -->
    <%- include('./partials/header') %>

    <main>
        <div class="main">
        <h1>Coleccionista</h1>
        <p>Conviérte en coleccionista y empieza a construir tu galeria de arte digital</p>
        <br>
        <input type="text" placeholder="Nombre (será visto públicamente)" id="subdomain"/></input>
        <br>
        <input type="email" placeholder="Correo electrónico" id="subdomain"/></input>
        <br>
        <input type="password" placeholder="Contraseña" id="subdomain"/></input>
        <br>
        <br>
        <button class="ingresar">Registrarse</button>
        <br>
        <button class="botonesExtra"></button>
        <button class="botonesExtra"></button>
        <br>
        <p>¿Ya estas registrado? <a href="/login" style="color:#b8b451">Ingresa</a></p>
        </div>
        <div class="main">
        <h1>Creador</h1>
        <p>Conviértete en creador y empieza a vender tus diseños digitales</p>
        <br>
        <input type="text" placeholder="Nombre (será visto públicamente)" id="subdomain"/></input>
        <br>
        <input type="email" placeholder="Correo electrónico" id="subdomain"/></input>
        <br>
        <input type="password" placeholder="Contraseña" id="subdomain"/></input>
        <br>
        <input type="text" placeholder="Codigo de invitación" id="subdomain"/></input>
        <p style="text-align: end;"><a style="color:white;"href="#" >Solicitá tu código de invitación</a></p>
        <br>
        <button class="ingresar">Registrarse</button>
        <br>
        <button class="botonesExtra"></button>
        <button class="botonesExtra"></button>
        <br>
        <p>¿Ya estas registrado? <a href="/login" style="color:#b8b451">Ingresa</a></p>
    </div>
    </main>

     <!-- footer -->
     <%- include('./partials/footer') %>
     
</body>
</html>